<div>
  <div>
    <h1>
      Photo Details
    </h1>



      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>">
      </dd>

    <dl>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>



      <dt>
        Owner
      </dt>
      <dd>
        <%= User.where({ :id => @the_photo.owner_id }).first.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <% array = Like.where({ :photo_id => @the_photo.id }) %>
        <% array.each do |get_id|%>

        <% User.where({ :id => get_id.fan_id}).each do |fan| %> <%= fan.username %>, <% end %><% end %>
      </dd>

      <dt>
        Add a fan
      </dt>
      <dd>
    <% if Like.where({ :photo_id => @the_photo.id }).where({ :fan_id => @current_user.id }).first == nil %>
      <form action="/insert_like" method="post">
            <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
            <input type="hidden" value="<%= @current_user.id %>" name="query_fan_id">
            <button>Like</button>
          </form>
      <% else %>
      <a href="/delete_like/<%= Like.where({ :fan_id => @current_user.id }).first.id %>">Unlike</a>
      <% end %>
      </dd>
<% if @the_photo.owner_id == @current_user.id %>
  <dt>Edit photo</dt>
  <dd>
    <form action="/modify_photo/<%= @the_photo.id %>" method="post" enctype="multipart/form-data">
      <label for="browser_image">Image URL</label>
      <input id="browser_image" type="file" name="query_image" placeholder="Enter a URL for the image..." value="<%= @the_photo.image %>">
      <input id="owner_id" name="query_owner_id" value="<%= @the_photo.owner_id %>" type="hidden">
      <input id="location" name="query_location" value="<%= @the_photo.location %>" type="hidden">
      <input id="likes_count" name="query_likes_count" value="<%= @the_photo.likes_count %>" type="hidden">
      <input id="comments_count" name="query_comments_count" value="<%= @the_photo.comments_count %>" type="hidden">
    
      <label for="browser_caption">Caption</label>
      <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo..."><%= @the_photo.caption %></textarea>
    
      <button>Update photo</button>
    </form>
  </dd>

  <dt>Delete photo</dt>
  <dd>
    <a href="/delete_photo/<%= @the_photo.id %>">
      Delete this photo
    </a>
  </dd>
<% else %>

<% end %>
    </dl>
  </div>
</div>



<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>
   <% Comment.where({ :photo_id => @the_photo.id }).each do |comment| %>
    <tr>
 
      <td>
        <%= User.where({ :id => comment.author_id}).first.username %>
      </td>

      <td>
       <%= comment.body %>
      </td>

      <td>
       <%= time_ago_in_words(comment.created_at) %>
      </td>
     
    </tr>  
 <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
  <input type="hidden" value="<%= @current_user.id %>" name="query_author_id">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
