<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramFinal</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  
<% if @current_user.present? %>
  <a href="/users">All users</a>
  <br>
  <a href="/photos">All public photos</a>
  <br>
  <a href="/users/<%= @current_user.username %>"><%= @current_user.username %></a>
  <br>
  <a href="/user_sign_out">Sign out</a>
  <% else %>
  <a href="/users">All users</a>
  <br>
  <a href="/photos">All public photos</a>
  <br>
  <a href="/user_sign_in">Sign in</a>
  <br>
  <a href="/user_sign_up">Sign up</a>
  <% end %>
  <br>
  <%= notice %>
  <%= alert %>
    <%= yield %>
  </body>
</html>
